# Firebase Project ID và API Key (lấy từ Firebase Console → Project Settings)
# KHÔNG cần Service Account key!
FIREBASE_PROJECT_ID=gamestore-93186
FIREBASE_API_KEY=AIzaSyC1efvwK3jBRT1rIK30dc6bMXrs7PYiI1E

# URL server sau khi deploy lên Render
SERVER_URL=https://gamestore-server.onrender.com

# URL frontend
FRONTEND_URL=https://gamestore-xxx.vercel.app

# SePay
SEPAY_API_KEY=KGFM0Y3KLBP06BWWNJADDQZILTAMZ7EKTMJ9QHXNRD2UYXUOSEFWJVFHZ5XRGQA8

# BIDV
BANK_BIN=970418
BANK_ACCOUNT_NUMBER=1290702118
BANK_ACCOUNT_NAME=NGUYEN NAM SON
